
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
</head>
<body>
    <div> 
        <a href="/home/student">查看所有学生</a>
        <a href="/home/coures">查看所有科目</a>
        <a href="/home/score">查看所有成绩</a>
    </div>
</body>
</html>
